#pointSection{
  width: auto;
  height: 100vh;
  margin: 0 auto;
}
#point{
  margin: 3rem auto 3rem auto;
  background-color: var(--main);
  border-radius: 15px;
  width: 70%;
}
#chart_div{
  margin: 0 auto;
  width: auto;
}
.chart {
  width: 100%; 
  min-height: 450px;
}