:root {
  --main: #6fb88c;
  --purple: #6a5d92;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
}
button {
  cursor: pointer;
}
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 20px;
}
body {
  background-color: #2d2d2d;
}
a {
  color: inherit;
  width: 100px;
  height: 50px;
  text-align: center;
  padding: 0 15px 0 15px;
  font-size: 1.3em;
}
#countdown {
  font-size: 155px;
  margin-top: 30%;
}
a:hover {
  color:var(--purple);
}
.links ul,
li {
  display: flex;
  padding: 10px;
}

.container {
  max-width: 1200px ;
  background-color: var(--main);
  margin-top: 50px;
  height: auto;
  width: 800px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#hero-section h1 {
  text-align: center;
  padding-top: 15px;
}
#hero-section {
  margin-top: 2.1rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.timer {
  background-color: var(--main);
  height: 700px;
  width: 40%;
  border-radius: 15px;
  margin-left: 15px;
  margin-top: 50px;
  text-align: center;
}
.minute {
  font-size: large;
  height: 40px;
  width: 40%;
}
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.tomato{
  background-color: tomato;
}
.purple{
  background-color: var(--purple);
}
.green{
  background-color: var(--main);
  color:#2d2d2d;
}
.cornflowerblue{
  background-color: cornflowerblue;
}
.countdown button {
  color:#ffffff;
  border-radius: 10px;
  margin-top: 9px;
}
.countdown{
  background-color:var(--purple);
  height: 350px;
}
.countdown button:hover {
  background-color: #2d2d2d;
  color: white;
}
#checkbox-section {
  padding: 10px;
  width: 700px;
  border-radius: 5px;
  margin-top: 70px;
  height: auto;
  background-color: var(--purple);
}
#checkbox-section h3{
  padding: 0.5rem;
}
.center {
  margin: 0 auto;
}
#days {
  border-radius: 5px;
  width: 700px;
  height: 350px;
  margin-top: 50px;
  background-color: var(--purple);
}
.day {
  display: flex;
  padding: 20px 0 0 10px;
}
input[type="checkbox"] {
  background-color: rgb(58, 56, 56);
  width: 25px;
  height: 25px;
}
.clean {
  width: 25px;
  margin-right: 15px;
  border: none;
  background-color: tomato;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: width 2s, height 4s;
}
.clean:hover {
  background-color: #2d2d2d;
  color: white;
  cursor: pointer;
}
.container p {
  width: 23px;
}
@media screen and (max-width: 1200px) {
  .timer {
    height: auto;
    width: 50%;
  }
}