#header{
  background-color:var(--main);
  height: 3.5rem;
  display: flex;
  justify-content: center;
}
.navigation-list{
  max-width: 600px;
  margin: 0 auto;
}
nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* gap: 0rem; */
}
