#profile {
  height: 90vh;
  width: auto;
}
#profile-section{
  border-radius: 15px;
  margin: auto;
  background-color: var(--main);
  height: 80%;
  width: 60%;
  padding-top: 15px;
}
#myProfile{
  padding: 5px;
  top: 25px;
  margin: 0 auto;
  background-color: var(--purple);
  height: 80%;
  width: 40%;
  border-radius: 15px;
  text-align: center;
}
.profile-pic {
  margin-top: 15px;
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
  border-radius: 100px;
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}
body a:hover {
  text-decoration: none;
}
